@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background-color: #ffebf0; /* pink muda */
  color: #3d3d3d;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  color: #ff3385;
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2.5s infinite ease-in-out;
}
